body {
    margin: 0;
    padding: 25px;
    background-color: lightgray;
}

.container-one {
    width: 100%;
    height: 200px;
    border: 10px solid black;
    padding: 10px;
    box-sizing: border-box
}

.purple-rectangle {
    background-color: purple;
    height: 125px;
    width: 70px;
    display: inline-block;
}

.green-rectangle {
    background-color: green;
    height: 165px;
    width: 400px;
    display: inline-block;
    margin: 0 50px;
}

.cyan-circle {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background-color: cyan;
    display: inline-block;
}

.container-two {
    padding: 50px;
    border: 5px dotted black;
    height: 100px;
    margin-top: 35px;
}
.beige-rectangle {
    padding: 10px;
    background-color: beige;
    height: 75%;
    box-shadow: 10px 5px 5px black;
}

.container-three {
    padding: 25px;
    border: 1px solid black;
    margin-top: 50px;
    height: 250px;
    width: 45%;
    margin: 25px auto;
    background-color: white;
    -webkit-box-shadow: 10px 5px 5px grey;
}

.container-three h1 {
    text-align: center;
    color: orange;
    letter-spacing: 10px;
    size: 10px;
}